{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/destructuring-assignment": "off"
  }
}
